* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2px;

    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.3em;
}

.calendar {
    display: flex;
    border-radius: 0.3em;
}
.calendar .week div:nth-child(1),
.calendar .week div:nth-child(7) {
    flex: 0 0 100%;
}
.container * div {
    border: 1px solid #ccc;
    padding: 1em;
    flex-grow: 1;
    text-align: center;
}
.week {
    display: flex;
    flex-wrap: wrap;
}
.notes {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
