.blue-box {
    display: flex;
    border: 2px solid blue;
    margin: 10px 2px;
    padding: 20px;
    width: 30%;
}

div[class^='box'] {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border: 1px solid rgb(78, 76, 76);
}
