* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    font: 18px/1.5 'Lato', sans-serif;
    background-color: #eeeeee;
}

.section-banner {
    width: 60%;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 0 60%;
}

.buttons button {
    padding: 10px 25px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    font-weight: 600;
}
.buttons > .chat {
    text-align: center;
    background: #663399;
    color: white;
}
.buttons .learn-more {
    text-align: center;
    background: #eeeeee;
    color: rgb(90, 90, 90);
}
.img-container {
    flex: 1 0 20%;
    border: 1px solid gray;
    width: 350px;
    height: 250px;
    border-radius: 5px;
    background-color: #eeeeee;
}

