
  <section id='attachCast'>
    <div class='attachCastSection'>
      <h1>Attach New Cast</h1>
      <div class='attach-form'>
        <h2>{{title}}</h2>
        <img class='movie' src={{imageUrl}} />
        <form action='' method='POST'>
          <label for='cast'>Cast</label>
          <select id='cast' name='cast'>
            {{> attachCasts}}
          </select>
          <div id='center-btn'>
            <button id='create-btn'>Add Cast</button>
          </div>
        </form>
      </div>
    </div>
  </section>
