body {
    border: 4px solid green;
    margin: 0;
    padding: 20px;
}

.header,
.banner,
.article {
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 5px 30px;
}

.header > header,
.banner > .banner-content,
.article > article {
    border: 2px solid blue;
    margin: 20px 50px;
    padding: 10px 20px;
    font-weight: bold;
}
