<body>
  <header>
    <h1>Cat Shelter</h1>
  </header>
  <main>
    <form action='' method='POST' class='cat-form' enctype='multipart/form-data'>
      <h2>Edit Cat</h2>
      <label for='name'>Name</label>
      <input type='text' id='name' value={{cat.name}} />
      <label for='description'>Description</label>
      <textarea id='description'>{{cat.description}}</textarea>
      <label for='image'>Image</label>
      <input type='file' id='image' />
      <label for='group'>Breed</label>
      <select id='group'>
        {{#each breed}}
          <option value={{this}}>{{this}}</option>
        {{/each}}
      </select>
      <button>Edit Cat</button>
    </form>
  </main>
</body>