<header>
  <h1>Cat Shelter</h1>
  <form action='/search'>
    <input type='text' />
    <button type='button'>Search</button>
  </form>
</header>

<main>
  <section class='cats'>
    <ul>
      <li>
        <img
          src={{dataCats.imageUrl}}
          alt='Black Cat'
        />
        <h3></h3>
        <p><span>Breed: </span>Bombay Cat</p>
        <p><span>Description: </span>Dominant and aggressive to other cats. Will probably eat you in your sleep. Very
          cute tho.</p>
        <ul class='buttons'>
          <li class='btn edit'><a href='/change-info'>Change Info</a></li>
          <li class='btn delete'><a href='/new-home'>New Home</a></li>
        </ul>
      </li>
    </ul>
  </section>
</main>