<section class='form-container'>
  <h2>Register</h2>
  <form method='POST'>
    <label for='name'>Name:</label>
    <input type='text' id='name' name='username' value='{{username}}' />

    <label for='email'>Email:</label>
    <input type='email' id='email' name='email' value='{{email}}' />

    <label for='password'>Password:</label>
    <input type='password' id='password' name='password' />

    <label for='password'>Repeat Password:</label>
    <input type='password' id='re-password' name='rePassword' />

    <button type='submit'>Register</button>
  </form>
  <p>Already have an account? <a href='/auth/login'>Login here</a>.</p>
</section>