.main-box {
    width: 50vw;
    margin: 50px auto;
}
.main-box div {
    border: 1px dashed #666;
    margin: 20px;
    padding: 0 5px 5px 5px;
}
.main-box div:before {
    padding-left: 10px;
}
.main-box .margin {
    background-color: #ff966f;
}
.main-box .margin:before {
    content: 'margin';
}
.main-box .border {
    background-color: #fad7c3;
}
.main-box .border:before {
    content: 'border';
}
.main-box .padding {
    background-color: #85eb85;
}
.main-box .padding:before {
    content: 'padding';
}
.main-box .content {
    background-color: #a3d2e2;
    text-align: center;
}
