<section class='volcano-search'>
  <h1>Search</h1>

  <form class='search-form' method='GET'>
    <input type='text' class='search-volcano' name='name' placeholder='Search by Name...' />
    <select id='type' name='type'>
      <option value='Supervolcanoes'>Supervolcanoes</option>
      <option value='Submarine'>Submarine</option>
      <option value='Subglacial'>Subglacial</option>
      <option value='Mud'>Mud</option>
      <option value='Stratovolcanoes'>Stratovolcanoes</option>
      <option value='Shield'>Shield</option>
    </select>
    <button type='submit' class='btn-search'>Search</button>
  </form>

  <!-- <div class="search-result">
                <div class="search-list">
                    <div class="volcano">
                        <div class="volcano-img">
                            <img src="./static/images/etna.jpg">
                        </div>
                        <div class="volcano-info">
                            <h1>Mount Etna</h1>
                            <p><span>Location: </span>Sicily Italy</p>
                            <p><span>Volcano Type: </span>Stratovolcanoes</p>
                        </div>

                        <a href="#" class="btn-details">Details</a>
                    </div>
                </div>

            </div> -->

  <div class='no-match'>
    <p>No match was found!</p>
  </div>
</section>