<div class="main">
  <div class="todo-container">
    <div class="todo-header">
      <h1>To-Do List</h1>
    </div>
    <div class="todo-input">
      <input type="text" #taskInput placeholder="Add a new task" />
      <button (click)="onClickAdd(taskInput.value); taskInput.value = ''">
        Add
      </button>
    </div>
    <ul class="todo-list">
      @for (item of localTasks; track $index){
      <li class="todo-item">
        <div
          [style.completed]="
            completedTask ? 'text-decoration: line-through' : ''
          "
        >
          {{ item.toDo }}
        </div>
        <button (click)="onDelete(item.toDo)">Delete</button>
        <button (click)="onComplete(item.toDo)" class="done">Done</button>
      </li>
      } @if(localTasks.length == 0){
      <li>No tasks available</li>
      }
    </ul>
  </div>
</div>
