section {
    border: 2px solid black;
    padding: 1em 2em;
    margin-bottom: 2em;
}
section p {
    border: 1px solid #ccc;
    padding: 1em;
}

section p.block {
    display: block;
}

section p.inline {
    display: inline;
}

section p.inline-block {
  display: inline-block;
}