@media screen and (max-width: 600px) {
    .home-header {
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .home-container01 {
        width: 100%;
    }
    .navigation-links-nav {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }
    .navigation-links-text1 {
        margin-left: 0px;
    }

    .blog-post-card3-blog-post-card {
        display: flex;
        flex-direction: column;
    }
    .blog-post-card3-container1 {
        margin-bottom: 38px;
    }
    .blog-post-card3-text1 {
        margin-bottom: 38px;
    }

    .home-stats {
        display: flex;
        flex-wrap: wrap;
    }
    .home-stat {
        width: calc(50% - 20px);
    }
    .home-text03 {
        text-align: center;
    }
    .home-container06 {
        flex-direction: column;
        align-items: center;
    }
    .home-container07 {
        align-items: center;
    }
    .home-container08 {
        flex-direction: column;
        align-content: center;
        width: 100%;
        gap: 30px;
    }
    .home-container09 {
        justify-content: center;
        margin-right: 0px;
        width: 100%;
    }
    .home-container10 {
        width: 100%;
    }
}
